.container {
    background: linear-gradient(to right, #4D688C, #011C40);
    min-height: 100vh;
    width: calc(100% - 256px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
  }
  
  .alert-mensagem {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .scanner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .scanner-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .scanner-button {
    background-color: #1677FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .questoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .questao-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px; /* Ajuste conforme necessário */
  }
  
  .lista-de {
    font-weight: bold;
  }
  
  .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .acessar-button {
    background-color: #1677FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .mini-card {
    background-color: #0455BF; 
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-top: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  