body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.titleDes {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.card-custom {
    background-color: #ffffff; /* Fundo branco */
    border-radius: 45px; /* Mantém o raio do cartão */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.card-custom .ant-card-head {
    border-bottom: 2px solid #0477bf; /* Linha entre título e descrição */
}

.read-more {
    background: none;
    border: none;
    color: #0066cc;
    cursor: pointer;
    text-decoration: underline;
}

.read-more:hover {
    color: #004b99;
}
